node_modules
.env
pruebaRest
Proyecto_Brunnella.code-workspace
back node.code-workspace
index.http
pruebaREST.http
users.sql
database.sql
client.html
auth.services
# Local Netlify folder
.netlify
.editorconfig
BybDb.sql
saved_resource.html
